body {
  margin: 0;
  font-family: Helvetica;
}

.main-title {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../resources/img/pattern.jpeg");
}

.green {
  background-color: mediumspringgreen;
}

.coral {
  background-color: lightcoral;
}

.blue {
  background-color: skyblue;
}

.sections {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
    font-weight: bold;
    color: blue;
}
